body {
    background: #f4f4f4;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.player {
    background: white;
    padding: 30px;
    width: 320px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.title {
    font-size: 22px;
    margin-bottom: 15px;
}

.controls button {
    margin: 10px;
    padding: 12px 18px;
    font-size: 16px;
    background: #ff7b54;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.controls button:hover {
    background: #ff5722;
}
